@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    /* colores */
    --color-amarillo:#EAC926;
    --color-Azul: #03264C;
    --color-Celeste: #1259c3;
    --color-Gris-oscuro: #666;
    --color-Gris-claro: #ebebeb;
    --color-Verde: #39b54a;
    /* tipografias */
    --font-texto: 12px;
    --font-titulo-ulti:24px;
    --font-precios:18px;
    --font-descuentos:16px;
    --font-descripciones:16px;
    --font-family:'Roboto', sans-serif;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:var(--font-family);
}

body.home{
    background-color: rgba(128, 128, 128, 0.097);
}

h1{
    font-size:var(--font-titulo-ulti) ;
    font-family:var(--font-family);
}
p{
   font-size: var(--font-texto);
   font-family:var(--font-family)
}
.oferta{
    font-size: var(--font-descuentos);
    font-family:var(--font-family);
}

.precio{
    font-size: var(--font-precios);
    font-family:var(--font-family);
}

.nombre-producto{
    font-size: var(--font-descripciones);
    font-family:var(--font-family);
}

ul{
    list-style-type:none;
}

a{
    text-decoration: none;
    color: black;
    font-family:var(--font-family);
}
